<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/png" href="/Assets/Icon/GooChess.png">
		<meta charset="UTF-8">
		<meta name="darkreader-lock">
		<meta name="PageName" content="Gaming">
		<meta name="Background" content="Slashes(0,1,0)">
		<title>Goord</title>
		<link rel="stylesheet" href="../Global/Global.css">
		<link rel="stylesheet" href="../Page/Gaming.css">
	</head>
	<body>
		<div id="Wrapper">
			<div class="GroodWrap" id="GroodMain"></div>
			<div class="gamebox" id="left">
				<!-- Timer & Chat Room -->
				<div class="timer" id="p1">
					<div class="time">88:88</div>
					<div class="bar">
						<span class="display"></span>
					</div>
					<span class="avatar"></span>
					<div class="info">
						<div class="nickname">PCwqyy</div>
						<div class="coin">114</div>
					</div>
				</div>
				<div class="timer" id="p2">
					<div class="time">88:88</div>
					<div class="bar">
						<span class="display"></span>
					</div>
					<span class="avatar"></span>
					<div class="info">
						<div class="nickname">hezerxv</div>
						<div class="coin">7</div>
					</div>
				</div>
				<div class="timer" id="p3">
					<div class="time">88:88</div>
					<div class="bar">
						<span class="display"></span>
					</div>
					<span class="avatar"></span>
					<div class="info">
						<div class="nickname">yzy</div>
						<div class="coin">88</div>
					</div>
				</div>
				<div id="chatRoom">
					<div id="chatMsgs"></div>
					<div id="inputWrap">
						<input type="text" id="chatInput" placeholder="Say Something" name="chatInput">
					</div>
				</div>
			</div>
			<div class="gamebox" id="right">
				<div id="recordWrap">
					<table id="record">
						<colgroup>
							<col id="roundCol">
							<col id="p1Col">
							<col id="p2Col">
							<col id="p3Col">
						</colgroup>
						<thead><tr>
							<th class="recordHead" id="round"></th>
							<th class="recordHead" id="p1"></th>
							<th class="recordHead" id="p2"></th>
							<th class="recordHead" id="p3"></th>
						</tr></thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div id="buttons">
					<span id="Resign" tip="^{$.Resign}"></span>
					<span id="Tie" tip="^{$.Tie}"></span>
					<span id="TakeBack" tip="^{$.TakeBack}"></span>
					<span id="HurryUp" tip="^{$.HurryUp}"></span>
				</div>
			</div>
		</div>
		<script type="module" src="../Global/Global.js"></script>
		<script type="module" src="../Page/GamingMain.js"></script>
	</body>
</html>