<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="darkreader-lock">
		<meta name="PageName" content="Menu">
		<meta name="Background" content="Stars()">
		<title>Menu</title>
		<link rel="stylesheet" href="../Page/Err.css">
		<link rel="stylesheet" href="../Global/Global.css">
		<link rel="icon" type="image/png" href="/Assets/Icon/GooChess.png">
	</head>
	<body>
		<div id="wrapper">
			<div id="triangle"></div>
			<div id="code"></div>
		</div>
		<div id="description"></div>
		<script type="module" src="../Global/Global.js"></script>
		<script type="module" src="../Page/Click.js"></script>
	</body>
</html>