<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="darkreader-lock">
		<meta name="PageName" content="Menu">
		<meta name="Background" content="Triangles()">
		<title>Menu</title>
		<link rel="stylesheet" href="../Global/Global.css">
		<link rel="stylesheet" href="../Page/Welcome.css">
		<link rel="icon" type="image/png" href="/Assets/Icon/GooChess.png">
	</head>
	<body>
		<div id="BigTCon">
			<span id="MainTriangle"></span>
		</div>
		<div id="Home">
		</div>
		<tranb id="title" class="welcome">$.Title</tranb>
		<tranb id="sign" class="welcome">$.SubTitle</tranb>
		<menu id="Menu">
			<trans class="MenuItem" href="Gaming.html">$.Game</trans>
			<trans class="MenuItem" href="Profile.html">$.Account</trans>
			<trans class="MenuItem" href="Wiki.html">$.Wiki</trans>
			<trans class="MenuItem" href="About.html">$.About</trans>
			<trans class="MenuItem">$.Settings</trans>
		</menu>
		<script>
			document.addEventListener('keydown',(event)=>{
				document.body.classList.add('menu-open');
			},{once:true});
		</script>
		<script type="module" src="../Background.js"></script>
		<script type="module" src="../Global/Global.js"></script>
	</body>
</html>