*{
	margin: 0;
	padding: 0;
}
html{
	overflow: hidden;
	font-family: Consolas;
}
body{
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
span#MainTriangle{
	display: flex;
	position: relative;
	width: 150vmin;
	height: calc(75vmin * sqrt(3));
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	transition: 0.3s;
	transform-origin: 50% 66%;
	background-color: black;
	z-index: 2;
	animation: RotateF 8s infinite,
			   FlashF 3s infinite;
} 
@keyframes RotateF{
	0%		{rotate: 20deg;}
	12.5%	{rotate: -24deg;}
	25%		{rotate: 18deg;}
	37.5%	{rotate: -34deg;}
	100%	{rotate: 380deg;}
}
@keyframes FlashF{
	0%{scale: 1;}
	6.25%{scale: 0.8;}
	12.5%{scale: 1;}
	18.75%{scale: 0.8;}
	25%{scale: 1;}
	31.25%{scale: 0.8;}
	37.5%{scale: 1;}
	43.75%{scale: 0.8;}
	50%{scale: 1;}
	56.25%{scale: 0.8;}
	62.5%{scale: 1;}
	68.75%{scale: 0.8;}
	75%{scale: 1;}
	87.5%{scale: 0.7;}
	100%{scale: 1;}
}

p#title{
	width: 100vw;
	color: white;
	text-shadow: 3px 3px 0px gray;
	text-align: center;
	position: absolute;
	font-size: 15vh;
	z-index: 3;
	font-family: Consolas;
	animation: RotateB 0.75s infinite;
}
@keyframes RotateB{
	0%{rotate: -5deg;}
	50%{rotate: 5deg;}
	100%{rotate: -5deg;}
}
p#sign{
	position: absolute;
	color: white;
	font-size: 4vh;
	z-index: 3;
	opacity: 0;
	transform: translate(0,25vh);
	animation:
		FlashS 2s linear 5s infinite,
		SlowOutS 1s linear 4s;
}
@keyframes SlowOutS{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes FlashS{
	0%{opacity: 1;}
	50%{opacity: 0.3;}
	100%{opacity: 1;}
}

span.SmallT{
	position: absolute;
	transform-origin: 50% 66%;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	left: -20vh;
	transition-timing-function: linear !important;
}