span#MainTriangle,span#ColorCont{
	animation-iteration-count: unset;
	/* mix-blend-mode: normal; */
	rotate: 20deg;
	translate: -35% 0;
	height: calc(200vmin * sqrt(3));;
	width: 400vmin;
	background-color: black;
}
p.welcome#sign{
	animation:
		SlowOut 2s,
		FlashS 2s linear 5s;
}
p.welcome#title{
	animation:
		SlowOut 2s,
		RotateB 0.75s infinite;
}
@keyframes SlowOut{
	0%{opacity: 1;}
	100%{opacity: 0;}
}

menu#Menu{
	display: flex;
	animation: SlowIn 4s;
}
a.MenuItem{
	text-align: center;
	text-decoration: none;
	line-height: 15vh;
	margin-bottom: 2vh;
	width: 100%;
	background-color: white;
	mix-blend-mode: difference;
}
a.MenuItem,a.MenuItem:active,
a.MenuItem:visited,a.MenuItem:focus{
	color: black;
}
a.MenuItem::before{
	content: '';
	position: fixed;
	left: 0;
	width: 0;
	height: 15vh;
	background-color: white;
	mix-blend-mode: difference;
	transition: 0.5s;
	z-index: 1;
}
a.MenuItem:hover::before{
	width: 100%;
}