div#Wrapper{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Grood */
div.GroodWrap{
	display: block;
	width: unset;
}
Grood.Scaled{
	transform:
		scale(2)
		rotate(160deg)
		matrix3d(1, 0, 0, -0.0015,
				0, 1, 0, 0.0015,
				0, 0, 1, 0,
				1, 1, 1, 1)
		translate(0, 35%)
}

/* GameBox */
div.gamebox{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	height: 86vh;
	width: 18vw;
	margin: 0px 1vw;
	background-color: #ffffff3f;
	transform-origin: bottom;
}
div.gamebox>*{
	width: 100%;
}
div.gamebox#left{
	transform: skewX(-30deg);
}
div.gamebox#right{
	transform: skewX(30deg);
}
div.timer>*:not(.bar),
div#chatRoom input,
div#chatMsgs div.message>*{
	transform: skewX(30deg);
	transform-origin: 50% 65%;
	margin: 0 1vw;
}

div.timer{
	text-align: center;
	user-select: none;
	--time-percent: 100%; /* default */
}
div.timer.running{
	animation: TimerRunning 1s infinite;
}
@keyframes TimerRunning{
	0%{background-color: transparent;}
	50%{background-color: hsla(var(--hue), 100%, 50%, 0.3);}
	100%{background-color: transparent;}
}
div.timer#p1{
	--hue: var(--hue-p1);
}
div.timer#p2{
	--hue: var(--hue-p2);
}
div.timer#p3{
	--hue: var(--hue-p3);
}
div.timer div.time{
	font-size: 5vw;
}
div.timer div.bar{
	height: 8px;
	background-color: light-dark(#ccc,#333);
}
div.timer div.bar span.display{
	display: block;
	background-color: hsl(var(--hue) 100% 50%);
	width: var(--time-percent);
	height: 100%;
	transition: 0.5s width;
}
div.timer span.avatar{
	display: block;
	position: absolute;
	--cell-half-size: 3vmin;
	height: var(--cell-height);
	width: var(--cell-width);
	background-color: green;
	rotate: -10deg;
	translate: calc(0px - var(--cell-height) * 1.1) calc(0px - var(--cell-height) * 0.8);
	transform: matrix(0.85, 0, 0.49, 1, 0, 0);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
div.timer div.info{
	margin-top: 5px;
	height: 1em;
	font-size: 18px;
}
div.timer div.nickname{
	float: left;
}
div.timer div.coin{
	float: right;
	color: gold;
}
div#chatRoom{
	height: 30vh;
}
div#chatRoom>*{
	width: 100%;
}
div#chatRoom div#chatMsgs{
	overflow: hidden scroll;
	height: calc(30vh - 40px);
}
div#chatRoom div#chatMsgs div.message{
	font-size: 16px;
	word-wrap: break-word;

}
div.message>*{
	display: inline-block;
}
div.message>* {
	max-width: 100%;
}
div.message span.time{
	color: #888;
}
div#chatRoom div#inputWrap{
	background-color: white;
}
div#chatRoom input#chatInput{
	overflow-x: scroll;
	border: unset;
	height: 100%;
	width: 90%;
	outline: none;
	font-family: inherit;
	font-size: 20px;
}


/* test */
a.butt{
	border-radius: 3px;
	margin: 2vh 0;
	width: 15vw;
	color: white;
	background-color: #3689ce;
	text-align: center;
	text-decoration: none;
	user-select: none;
	cursor: pointer;
	transition: 0.5s;
}
a.butt:hover{
	color: #3689ce;
	background-color: white;
}
div#list{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: absolute;
	flex-direction: column;
	background-color: #ffffff3f;
	left: -21vw;
	top: 3vh;
	padding: 0 1vw;
	z-index: 10;
	transition: 0.5s;
}
div#list:hover{
	left: 0vw;
}
#DebugId{
	width: 20vw;
	font-size: 20px;
	font-family: Consolas;
}
#DebugButt.disable{
	background-color: gray !important;
	color: white;
	cursor: not-allowed;
}
#DebugButt.error{
	background-color: red !important;
	color: white;
}