div#Wrapper{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Grood */
Grood.Scaled{
	transform:
		scale(2)
		rotate(160deg)
		matrix3d(1, 0, 0, -0.0015,
				0, 1, 0, 0.0015,
				0, 0, 1, 0,
				1, 1, 1, 1)
		translate(0, 35%)
}

/* test */
a.butt{
	border-radius: 3px;
	margin: 2vh 0;
	width: 15vw;
	color: white;
	background-color: #3689ce;
	text-align: center;
	text-decoration: none;
	user-select: none;
	cursor: pointer;
	transition: 0.5s;
}
a.butt:hover{
	color: #3689ce;
	background-color: white;
}
div#list{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: absolute;
	flex-direction: column;
	left: 5vw;
	top: 10vh;
	z-index: 10;
}
#DebugId{
	width: 20vw;
	font-size: 20px;
	font-family: Consolas;
}
#DebugButt.disable{
	background-color: gray !important;
	color: white;
	cursor: not-allowed;
}
#DebugButt.error{
	background-color: red !important;
	color: white;
}