input#Input{
	z-index: 1;
	position: relative;
}
div#Body{
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	backdrop-filter: blur(14px) saturate(150%);
}
div#Content,div#Main{
	overflow-y: scroll;
	box-shadow: light-dark(#3f3f3f,#afafaf) 1px 1px 5px;
	background-color: light-dark(#ffffffc0,#000000c0);
}
div#Main{
	margin: 3vh 5vw 3vh 0;
	padding: 0 5vh;
	width: 65%;
	transform: matrix3d(
		1, 0, 0, -0.0002,
		0, 1, 0, 0,
		0, 0, 1, 0,
		1, 1, 1, 1
	);
}
div#ContentWrap{
	display: flex;
	position: sticky;
	top: 0;
	width: 18%;
	padding: 10vh 1vw 10vh 5vw;
	transform: matrix3d(
		1, 0, 0, 0.0002,
		0, 1, 0, 0,
		0, 0, 1, 0,
		1, 1, 1, 1
	);
}
div#Content{
	width: 100%;
	padding: 2vh 0;
}
div#Content a{
	display: block;
	width: 90%;
	cursor: pointer;
	margin: auto;
	margin-bottom: 1vh;
	text-align: center;
}
div#Content a:hover{
	box-shadow: gainsboro 0px -20px 20px -10px,
				gainsboro 0px 20px 20px -10px;
	background-color: white;
}

span.SmallT{
	position: absolute;
	transform-origin: 50% 66%;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	left: -20vh;
	isolation: isolate;
	transition-timing-function: linear !important;
}