div#ContentWrap{
	position: absolute;
	inset: 5vh 5vw;
	border: 2px solid light-dark(black,white);
	box-shadow: light-dark(gray,white) 0px 0px 10px;
	background-color: light-dark(#00000010,#ffffff10);
	backdrop-filter: blur(2px);
	overflow: hidden;
	z-index: 1;
}
div#Main{
	position: relative;
	top: 0vh;
	margin: 0 5vh;
	padding: 3vh;
	text-align: center;
	user-select: none;
}
p{
	margin: 10vh 0;
}
div.Wheel{
	display: inline-block;
	position: absolute;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	background-color: light-dark(#00000010,#ffffff40);
	transform-origin: 50% 66%;
}
div#Wheel1{
	left: calc(100vw - 50vmin);
	top: -66vmin;
	width: 100vmin;
	height: calc(50vmin * sqrt(3));
	animation: RotateR 32s linear infinite;
}
div#Wheel2{
	left: -30vmin;
	top: calc(100vh - 40vmin);
	width: 60vmin;
	height: calc(30vmin * sqrt(3));
	animation: RotateL 32s linear infinite;
}
@keyframes RotateR{
	0%{rotate: 0deg;}
	100%{rotate: 360deg;}
}
@keyframes RotateL{
	0%{rotate: 0deg;}
	100%{rotate: -360deg;}
}
div#Home{
	position: absolute;
	height: 100vh;
	left: 50vw;
	right: 50vw;
	z-index: 0;
}
span.LineWarp{
	display: flex;
	position: absolute;
	flex-wrap: wrap;
	justify-content: center;
}
span.Line{
	display: block;
	position: absolute;
	width: 300vw;
	height: 1px;
	opacity: 0;
	pointer-events: none;
	animation: LineDis 3s ease-in;
}
@keyframes LineDis{
	0%{opacity: 0;}
	40%{opacity: 1;}
	100%{opacity: 0;}
}

input#Input{
	position: absolute;
	z-index: 2;
}