*{
	margin: 0;
	padding: 0;
}
html{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

@media (prefers-color-scheme: dark){
	html{
		color-scheme: dark;
	}
}
@media (prefers-color-scheme: light){
	html{
		color-scheme: light;
	}
}

body{
	height: 100vh;
	width: 100vw;
	color: light-dark(black,white);
	background: light-dark(white,black);
	font-size: 22px;
	font-family: Caviar Dreams, DengXian;
}
Grood{
	--color-p1: light-dark(#10a3ff,#2c56bf);
	--color-p2: light-dark(#f64632,#ad0000);
	--color-p3: light-dark(#f4fc0a,#eada00);
	--color-hover: light-dark(#ffd34f,#daa300);
	--color-shooter: light-dark(#d8ff74,#0da100);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: light-dark(#f4f4f4,#2f2f2f);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	padding: 2vh 2vh calc(2vh / sqrt(3)) 2vh;
	transition: 2s;
	background-image:
		linear-gradient(60deg,var(--color-p1),transparent 26%),
		linear-gradient(180deg,var(--color-p2),transparent 40%),
		linear-gradient(300deg,var(--color-p3),transparent 26%);
}
.row{
	display: flex;
	justify-content: center;
	width: 100%;
}
.row.black{
	height: 0vh;
}
cell{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: calc(4vmin * sqrt(3));
	width: 8vmin;
	margin: 0;
	transition: 0.5s;
	pointer-events: none;
}
cell>span{
	display: block;
	position: relative;
	height: calc(4vmin * sqrt(3));
	width: 8vmin;
	margin: 0;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	background-color: light-dark(#ffffff,#000000);
	transition: 0.5s;
	pointer-events: auto;
}
.row.black cell>span{
	background-color: light-dark(#d5d5d5,#4f4f4f);
	transform: rotate(180deg);
}
cell:hover>span,.row.black cell:hover>span{
	background-color: var(--color-hover) !important;
}
cell.shooter>span{
	background-image:
		linear-gradient(240deg, var(--color-shooter) 35%, #00000000 41%),
		linear-gradient(120deg, var(--color-shooter) 35%, #00000000 41%),
		linear-gradient(0deg, var(--color-shooter) 4%, #00000000 10%)
}
cell.shooter:hover>span{
	background-color: var(--color-shooter);
}
cell.red>span{
	background-image:  linear-gradient(#f6463210, #f6463210);
}
cell.blue>span{
	background-image: linear-gradient(#10a3ff10, #10a3ff10);
}
cell.yellow>span{
	background-image: linear-gradient(#f4fc0a10, #f4fc0a10);
}
cell.sign>span{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	font-weight: bold;
}
.row.black cell.sign>span::after{
	rotate: 180deg;
}
cell.sign>span::after{
	translate: 0 16%;
	user-select: none;
	font-size: 75%;
}
cell.sign.oto>span{
	background-color: light-dark(#ff9898,#7a2b2b);
	color: light-dark(#b84444,#ff9898);
}
cell.sign.effect>span{
	background-color: light-dark(#98fffc,#098b91);
	color: light-dark(#10c7d0,#98fffc);
}
cell.sign.jump>span{
	background-color: light-dark(#c4ff98,#246c24);
	color: light-dark(#44b844,#c4ff98);
}
cell.sign.moove>span{
	background-color: light-dark(#fff539,#7f781a);
	color: light-dark(#9f9400,#fff539);
}
.row.black cell.sign.oto>span{
	background-color: light-dark(#ff7979,#9c3838);
}
.row.black cell.sign.effect>span{
	background-color: light-dark(#82fffb,#0ca8b1);
}
.row.black cell.sign.jump>span{
	background-color: light-dark(#b5ff7d,#2f8d2f);
}
.row.black cell.sign.moove>span{
	background-color: light-dark(#f4e801,#a19922);
}
cell.sign.oto>span::after{
	content: "O";
}
cell.sign.effect>span::after{
	content: "E";
}
cell.sign.jump>span::after{
	content: "J";
}
cell.sign.moove>span::after{
	content: "M";
}

cell.sign.only>span{
	background-image: linear-gradient(0deg,#dc4fff9f,transparent);
}

choos{
	position: absolute;
	height: 7vmin;
	width: 7vmin;
	transition: 0.1s;
	z-index: 2;
}
cell>choos{
	pointer-events: none;
}
div.row.black choos {
	top: -2vh;
}