@import url(Game.css);
*{
	margin: 0;
	padding: 0;
}
*::-webkit-scrollbar{
	width: 4px;
	height: 4px;
}
*::-webkit-scrollbar-thumb{
	border-radius: 2px;
	background-color: white;
}
*::-webkit-scrollbar-corner{
	background-color: transparent;
}
@supports(not(-webkit-perspective: 10px)){*{
	scrollbar-width: 4px;
	scrollbar-color: white;
	scrollbar-arrow-color: transparent;
	scrollbar-base-color: transparent;
	scrollbar-darkshadow-color: transparent;
	scrollbar-gutter: stable;
}}
*::selection{
	background-color: light-dark(#00000020,#ffffff20);
}
html{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
:root{
	--hue-p1: 200;
	--hue-p2: 0;
	--hue-p3: 60;
	--color-p1: light-dark(hsl(var(--hue-p1) 100% 50%),hsl(var(--hue-p1) 60% 50%));
	--color-p2: light-dark(hsl(var(--hue-p2) 100% 50%),hsl(var(--hue-p2) 60% 50%));
	--color-p3: light-dark(hsl(var(--hue-p3) 100% 50%),hsl(var(--hue-p3) 60% 50%));
	--color-hover: light-dark(#ffd34f,#daa300);
	--color-shooter: light-dark(#d8ff74,#0da100);
	--cell-size-half: 4vmin;
	--cell-height: calc(var(--cell-size-half) * sqrt(3));
	--cell-width: calc(var(--cell-size-half) * 2);
	--piece-size: 7vmin;
}

@media(prefers-color-scheme: dark){
	:root{
		color-scheme: dark;
	}
}
@media(prefers-color-scheme: light){
	:root{
		color-scheme: light;
	}
}
@font-face {
	font-family: Caviar Dreams;
	src: url(/Assets/Fonts/CaviarDreams.ttf) format('truetype');
}
@font-face {
	font-family: PCLang;
	src: url(/Assets/Fonts/PClang.ttf) format('truetype');
}

body{
	height: 100vh;
	width: 100vw;
	color: light-dark(black,white);
	background: light-dark(white,black);
	font-size: 22px;
	font-family: Caviar Dreams, DengXian;
}
body.pclang{
	font-family: PCLang, Caviar Dreams, DengXian;
}
canvas.Background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	z-index: -100;
}

tranb{ /* Translatable block element */
	display: block;
}
trans{ /* Translatable inline element */
	display: inline;
}
trans:not(.t),
tranb:not(.t){ /* Translated text */
	opacity: 0;
}

div#NotifyHome{
	display: flex;
	position: fixed;
	flex-direction: column;
	align-items: center;
	right: 0;
	width: 30vw;
	height: 100vh;
	min-width: 100px;
	overflow-y: scroll;
	z-index: 10;
	pointer-events: none;
}
div#NotifyHome::-webkit-scrollbar-thumb{
	background-color: transparent;
	scrollbar-color: transparent;
}
div.notify{
	display: flex;
	vertical-align: middle;
	gap: 0px;
	margin: 1vh 0px;
	background-color: light-dark(
		hsla(from var(--ntf-color) h s calc(l * 1.5)),
		hsla(from var(--ntf-color) h s calc(l * 0.5))
	);
	height: fit-content;
	width: 90%;
	box-sizing: border-box;
	pointer-events: all;
	animation: NotifyFadeIn 0.5s;
}
div.notify>div.iconArea{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1px 0px 3px 0px;
	width: 2.5em;
	background-color: var(--ntf-color);
	font-size: 12px;
	font-weight: bold;
	color: white;
	text-align: center;
}
div.notify>div.iconArea>div.icon{
	height: 2em;
	width: 2em;
	background-image: var(--icon);
}
div.notify>div.content{
	flex: 1;
	padding: 1vmin;
	word-break: break-all;
}
div.notify{
	--ntf-color: gray;
	--icon: url(/Assets/Functions/Unknown.svg);
}
div.notify.ntf-info{
	--ntf-color: deepskyblue;
	--icon: url(/Assets/Functions/Info.svg);
}
div.notify.ntf-warning{
	--ntf-color: gold;
	--icon: url(/Assets/Functions/Warning.svg);
}
div.notify.ntf-error{
	--ntf-color: red;
	--icon: url(/Assets/Functions/Error.svg);
}
div.notify.ntf-debug{
	--ntf-color: limegreen;
	--icon: url(/Assets/Functions/Debug.svg);
}

div.notify.fade{
	opacity: 0;
	pointer-events: none;
	animation: NotifyFadeOut 0.5s;
}
@keyframes NotifyFadeIn{
	0%{
		translate: 10px 0px;
		opacity: 0;
	}
	100%{
		translate: 0px 0px;
		opacity: 1;
	}
}
@keyframes NotifyFadeOut{
	0%{
		translate: 0px 0px;
		opacity: 1;
	}
	100%{
		translate: -10px 0px;
		opacity: 0;
	}
}